<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body style='background-color: #1e2124; max-width: 1540px;'>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a style="margin-left: 70px;" class="navbar-brand  text-danger" href="#">MixTape</a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link  text-danger offset-5" href="#">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger offset-10" href="#">Explore</a>
                </li>
            </ul>
            <span>
                <a class="nav-link active text-danger" href="{% url 'Logout' %}">Log Out</a>
            </span>
        </div>
    </nav>
    <div id="main">
        <div id="shared">
            {% if shared_tapes %}
            {% for sTape in shared_tapes %}
            <div style='max-width: 200px;' class='d-flex flex-column align-items-center flex-wrap mx-4'>
                <a class='m-2 text-white' href="{% url 'TapeInfo' id=sTape.id %}">{{sTape.name}}</a>
                <a href="{% url 'TapeInfo' id=sTape.id %}"><img src="{{sTape.images}}" alt=""></a>
            </div>
            {% endfor %}
            {% else %}
            <h2 class="text-danger" id='share_empty'>There are currently no shared MixTapes</h2>
            {% endif %}
        </div>
        <div id="bottom">
            <div id="bot-top" class='d-flex justify-content-between'>
                <h3 class='m-3 text-danger'>Welcome, {{curr_user.aka}}</h3>
                <form id = 'addtape' class="form-inline m-3 d-flex justify-content-end" method='POST' action="{% url 'AddTape' %}">
                    {% csrf_token %}
                    <div class="form-group mx-sm-3 mb-2">
                        <p class='text-white m-3'>Add MixTape:</p>
                        <select class="form-control" id="mixtape" name='mixtape' placeholder="Add">
                            {% for playlist in playlists %}
                            <option value="{{playlist.id}}">{{playlist.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2 bg-danger text-dark">Add Tape</button>
                </form>
            </div>
            <h2 class='d-flex justify-content-center p-5 text-danger'>Your Shelf</h2>
            <div id="shelf" class='d-flex flex-wrap'>
                {% if tapes %}
                {% for tape in tapes %}
                    <div style='max-width: 200px;' class='d-flex flex-column align-items-center flex-wrap mx-4'>
                        <a class='m-2 text-white' href="{% url 'TapeInfo' id=tape.id %}">{{tape.name}}</a>
                        <a href="{% url 'TapeInfo' id=tape.id %}"><img src="{{tape.images}}" alt=""></a>
                        <a class='m-2 text-white' href="{% url 'DeleteTape' id=tape.id %}">Delete</a>
                    </div>
                    {% endfor %}
                {% else %}
                <h2 class="text-danger">You have nothing on your shelf</h2>
                {% endif %}
            </div>
        </div>
    </div>
    </div>

    <script>
        $('#addtape').submit(function(e) {
            e.preventDefault()
            $.ajax({
                url: "/addtape/",
                method: 'post',
                data: $(this).serialize(),
                success: function(result){
                    $("#bottom").html(result)
                }
            })
        })
    </script>
</body>

</html>